/* ----- Global ----- */

html {
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    background-color: hsl(213, 44%, 95%);
    font-size: 13px;
}

main {
    margin: 150px auto;
}

.card {
    padding-top: 25px;
    padding-left: 31px;
    padding-bottom: 30px;
    padding-right: 37px;
    border-radius: 7px;
    box-shadow: 6.5px 11.5px 10px 2px rgba(0, 0, 0, 0.1);
}

/* ------- inside cards --------- */
.card_header {
    display: flex;
    /* flex-direction: row; */
    margin-bottom: 20px;
}

.card_header>img {
    width: 30px;
    border-radius: 28px;
    margin-right: 17px;
}

.person_name {
    font-weight: 600;
}

.person_status {
    opacity: 50%;
}

.first_section {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
}

.second_section {
    opacity: 70%;
    line-height: 136%;
}

/* --------- card one ---------- */
.card_one {
    grid-area: card_one;
    background-color: hsl(263, 55%, 52%);
    background-image: url(../images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top 0 right 80px;
    color: hsl(210, 46%, 95%);
}



/* --------  card two ----------- */
.card_two {
    grid-area: card_two;
    background-color: hsl(217, 19%, 35%);
    color: hsl(210, 46%, 95%);
}

/* --------- card three -------- */
.card_three {
    grid-area: card_three;
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
}

/* --------- card four -------- */
.card_four {
    grid-area: card_four;
    background-color: hsl(219, 29%, 14%);
    color: hsl(210, 46%, 95%);
}


/* --------- card five -------- */
.card_five {
    grid-area: card_five;
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
}


/* ----------- Grid Section -------------- */

.grid-container {

    width: max-content;
    /* height: 100%; */
    margin: 0 auto;
    display: grid;
    grid-template-columns: 255px 285px 255px 255px;
    grid-template-rows: 282px 266px;
    /* grid-template-rows: 1fr 1fr; */
    gap: 30px;
    grid-template-areas:
        "card_one card_one card_two card_five"
        "card_three card_four card_four card_five"

    ;
}

@media (max-width: 1150px) {
    .grid-container {
        grid-template-columns: 255px 285px 255px;
        grid-template-rows: 282px 266px 266px;
        grid-template-areas:
            "card_one card_one card_two"
            "card_four card_four card_five"
            "card_three . card_five";
    }
}

@media (max-width: 870px) {
    .grid-container {
        grid-template-columns: 255px 285px;
        grid-template-rows: 282px 282px 266px 266px;
        grid-template-areas:
            "card_one card_one"
            "card_two card_five"
            "card_three card_five"
            "card_four card_four";
    }
}

@media (max-width: 600px) {
    main {
        margin: 20px 15.5px;
    }

    .grid-container {
        width: auto;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
            "card_one"
            "card_two"
            "card_three"
            "card_four"
            "card_five";
    }

    .card_one {
        background-position: top 0 right 24px;
    }
}

@media (max-width: 375px) {
    main {
        margin: 20px auto;
    }

    .grid-container {
        grid-template-columns: 327px;
        grid-template-rows: 444px 240px 222px 387px 438px;
        grid-template-areas:
            "card_one"
            "card_two"
            "card_three"
            "card_four"
            "card_five";
    }

}